* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
#body{
  background-color: #F6F1F1;
  overflow-x: hidden;
}
#container {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.5rem;
}
#navbar li {
  list-style: none;
}
#s-c {
  background-color: #17b0d9;
  border-radius: 15px;
  padding: 7px 30px;
  border: 1px solid #17b0d9;
  color: #ffffff !important;
}
#navbar > li a:hover ul {
  display: block;
}
#navbar li a {
  text-decoration: none;
  color: black;
  transition: 0.3s linear;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: all 1s ease 0;
}
#navbar ul {
  position: absolute;
  top: 70px;
  right: 0px;
  display: none;
}
#navbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#menu-toggle {
  display: none;
}

#menu {
  display: none;
}

#menu-toggle:checked ~ #menu {
  display: flex;
  background-color: #f6f1f1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#menu-toggle:checked ~ #menu li a {
  flex-direction: column;
  align-items: center;
  display: flex;
}
#menu-toggle:checked ~ #menu li {
  padding: 1rem 3rem;
}
#menu li:hover {
  background-color: #17b0d9;
  transform: all 1s linear;
}
#menu li a:hover {
  color: #ffffff;
}
label {
  cursor: pointer;
}
header h1 {
  color: #17b0d9;
  font-size: 20px;
}
header {
  background-color: #ffffff;
}
#menu {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
#navbar > li a:hover {
  color: #17b0d9;
}
#s-c:hover {
  color: #17b0d9 !important;
  background-color: #ffffff;
  border: 1px solid #17b0d9;
}
#s-c {
  border-radius: 30px;
}
#container2 {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 670px;
  overflow: hidden;
  position: relative;
}
#c3{
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  display: flex;
}
#c6{
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  display: flex;
}
#img-1 {
  width: 100%;
  height: 670px;
  object-fit: cover;
  position: relative;
}
#area {
  display: flex;
  position: absolute;
  align-items: start;
  top: 40%;
  flex-direction: column;
  width: 360px;
  left: 200px;
  gap: 1rem;
}
#buton {
  background-color: #17b0d9;
  padding: 10px 30px;
  border: 1px solid #17b0d9;
  color: #ffffff;
  border-radius: 30px;
  transition: 0.3s linear;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: all 1s ease 0;
}
#buton:hover {
  background-color: #ffffff;
  color: #17b0d9;
}
#area h1 {
  font-size: 55px;
}
#container2 div h1,
p {
  color: #ffffff;
}
#down {
  background-color: #17b0d9;
  display: flex;
  height: 50px;
  width: 100px;
  border-radius: 100px 100px 0 0;
  align-items: center;
  justify-content: center;
}
#down-1 {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: end;
  position: absolute;
  margin-top: -54px;
}
#down-1:hover{
  opacity: 0.9;
}
#container3 {
  background-image: url("./images/Group\ 6.png");
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#boxes-1 {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  width: 100%;
  align-items: end;
  padding: 2rem 0rem;
}
#boxes-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: start;
  padding: 2rem 0rem;
}
#img-2 {
  display: flex;
  padding: 0rem 2rem;
  width: 400px;
  align-self: center;
  padding: 0rem 2rem 0rem 2rem;
  margin-bottom: -45px;
}
#circle-1 {
  border-radius: 100%;
  background-image: linear-gradient(to bottom right, #595690 70%, #343255);
  display: flex;
  width: 180px;
  height: 180px;
  color: white;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
#circle-1 h3,
#circle-2 h3,
#circle-3 h3,
#circle-4 h3,
#circle-5 h3,
#circle-6 h3 {
  font-weight: 300;
  font-size: 17px;
}
#circle-2 {
  background-image: linear-gradient(to bottom right, #13658c 60%, #333154);
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  border-radius: 100%;
  text-align: center;
  color: #ffffff;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  align-self: center;
}
#circle-3 {
  background-image: linear-gradient(to bottom right, #159abe 60%, #0c586d);
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  border-radius: 100%;
  text-align: center;
  color: #ffffff;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
#circle-4 {
  background-image: linear-gradient(to bottom right, #c8ba4e 60%, #8d8129);
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  border-radius: 100%;
  text-align: center;
  color: #ffffff;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
#circle-5 {
  background-image: linear-gradient(to bottom right, #71af6d 60%, #3f623d);
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  border-radius: 100%;
  text-align: center;
  color: #ffffff;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  align-self: center;
}
#circle-6 {
  background-image: linear-gradient(to bottom right, #6282a3 60%, #333154);
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  border-radius: 100%;
  text-align: center;
  color: #ffffff;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
#buton-2 {
  background-color: #6662a7;
  border: 1px solid white;
  color: white;
  padding: 5px 20px;
  border-radius: 7px;
  font-weight: 300;
}
#buton-2:hover {
  opacity: 0.8;
}
#box {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 2rem 0rem;
  gap: 0.25rem;
}
#box-area-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}
#box-area-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}
#box h1 {
  font-size: 50px;
  color: white;
}
#box h3 {
  color: white;
}
#box p {
  font-size: 12px;
}
#container4 {
  background-image: linear-gradient(to right bottom, #146c94, #0a364a);
  display: flex;
  justify-content: space-around;
  padding: 0rem 2rem;
}
#container14 a li{
  color: black;
}
#container14 li {
  transition: 0.3s linear;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: all 0.2s ease 0;
}
#n-50 p{
  transition: 0.3s linear;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: all 0.2s ease 0;
}
#n-50 a p:hover{
  color:#159abe
}
#icons a i{
  color: black;
}
#icons i {
  color: black;
  transition: 0.3s linear;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: all 0.2s ease 0;
}
#icons a i:hover{
  color: #159abe;
}
#container14 a li:hover{
  color: #159abe}
#container5 {
  max-width: 1100px;
  margin: 0 auto;
}
#img-3 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#tarih {
  color: black;
  font-size: 13px;
}
#haber {
  display: flex;
  flex-direction: column;
}
#baslık {
  color: #146c94;
  font-size: 20px;
}
#n-43 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 2px 2px rgb(242, 240, 240);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100px;
}
#n-44 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  justify-content: center;
}
#devam {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  align-items: end;
}
#devam p {
  color: #146c94;
}
#n-46 {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
#baslık-2 {
  font-size: 13px;
  color: #146c94;
  width: 250px;
}
#n-45 {
  padding: 1rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px rgb(242, 240, 240);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#img-4 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#haber-area {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#page-1 {
  border-radius: 100%;
  background-color: #146c94;
  border: 1px solid #146c94;
  width: 20px;
  height: 20px;
  margin: 2rem 0rem;
}
#page-2,
#page-3 {
  border-radius: 100%;
  border: 1px solid #146c94;
  width: 20px;
  height: 20px;
  margin: 2rem 0rem;
}
#sayfalar {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
#container6 {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  height: fit-content;
}
#area2 {
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 3rem;
}
#img-5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#img-div {
  background-color: #146c94;
  width: 386px;
    height: 540px;
  border-bottom-left-radius: 43%;
  border-bottom-right-radius: 43%;
  display: flex;
  align-items: center;
  padding-top: 3rem;
}
#img-div img {
  object-fit: cover;
  margin: 0 auto;
  width: 378px;
  height: 539px;
  border-bottom-left-radius: 43%;
  border-bottom-right-radius: 43%;
}
#text {
  width: 500px;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
#text p {
  color: white;
  width: 372px;
}
#text h1 {
  font-size: 40px;
  width: 100%;
  color: white;
  font-weight: 300;
}
#container7 {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  gap: 2rem;
  padding: 3rem 0rem;
  justify-content: center;
}
#a{
  background-color: #F6F1F1;
}
#square1 img, #square2 img , #square3 img, #square4 img{
  border-radius: 20px;
}
#square1, #square2, #square3, #square4{
  position: relative;
  border-radius: 20px;
}
#square1 p, #square2 p, #square3 p, #square4 p{
  background-color: white;
  color: rgb(0,0,0,0.5);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s linear;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: all 1s ease 0;
}
#square1:hover #yazi1{
  color: white;
  background-color: #17b0d9;
}
#square2:hover #yazi2{
  color: white;
  background-color: #17b0d9;
}
#square3:hover  #yazi3{
  color: white;
  background-color: #17b0d9;
}
#square4:hover  #yazi4{
  color: white;
  background-color: #17b0d9;
}
#container8 {
  background-image: url("./images/scenery-sunburst-lake-mount-assiniboine-reflections-pine-tree-sunrise.png");
  width: 100%;
  height: 400px;
}
#area3 {
  display: flex;
  align-items: center;
  height: 30%;
  width: 700px;
  text-align: center;
  gap: 1rem;
}
#container9 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#area3 {
  font-size: 25px;
  line-height: 30px;
}
#quote1 {
  align-self: flex-start;
  padding-right: 1rem;
}
#quote2 {
  align-self: flex-end;
  padding-left: 1rem;
}
#container10 {
  margin: 0 auto;
  max-width: 1100px;
  padding: 2rem 2rem 4rem 2rem;
}
#box-area-3 {
  display: flex;
  gap: 1rem;
}
#box-1 {
  box-shadow: 4px 4px 4px #f0efef;
  border-radius: 20px;
}
#box-2 {
  display: flex;
  flex-direction: row;
  width: 500px;
  box-shadow: 4px 4px 4px #f0efef;
  height: fit-content;
  border-radius: 20px;
}
#box-2 h3 {
  font-size: 20px;
}
#box-2 p {
  color: black;
}
#area5 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
#area4 {
  width: 400px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
#area4 p {
  color: black;
  width: 350px;
}
#area4 h3 {
  font-size: 25px;
}
#box-area-4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#img-6 {
  width: 560px;
}
#container11 {
  background-image: url("./images/Group\ 5.png");
  width: 100%;
  height: 650px;
}
#area6 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
}
#area6 p {
  color: black;
  width: 450px;
}
#area6 h3 {
  color: black;
}
#down-box {
  display: flex;
  justify-content: space-between;
}
#box-3 {
  width: 600px;
  background-color: white;
  border-radius: 20px;
}
#img-8 {
  width: 600px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#activities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70%;
}
#left-arrow,
#right-arrow {
  position: absolute;
  bottom: 50%;
  right: 50%;
}
#n-47 {
  position: relative;
}
#container12 {
  max-width: 1250px;
  margin: 0 auto;
}
#block-1 {
  display: flex;
  justify-content: space-around;
}
#block-2 {
  display: flex;
  justify-content: space-around;
}
#galery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.middle {
  background-color: rgb(166, 164, 164);
  padding: 2rem;
  opacity: 0.7;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: 0.3s linear;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: all 1s ease 0;
  font-size: 20px;
}
#video {
  position: relative;
}
#video2 {
  position: relative;
}
#video3 {
  position: relative;
}
#video4 {
  position: relative;
}
#video5 {
  position: relative;
}
#kuruluslar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#kuruluslar p{
  background-color: #f6f1f1;
  opacity: 0.5;
  padding: 10px 50px;
  border-radius: 10px;
  transition: 0.3s linear;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: all 1s ease 0;
}
#c5{
  max-width: 1400px;
  margin: 0 auto;
}
#kuruluslar p:hover #link{
  color:white;
}
#link{
  color: black;
  transition: 0.3s linear;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: all 1s ease 0;
}
#kuruluslar p:hover {
  color: white;
  background-color: #17b0d9;
  opacity: 1;
}

#container13 {
  padding-bottom: 4rem;
}
#container14 {
  width: 100%;
  background-color: #f6f1f1;
  padding-bottom: 2rem;
}
#n-50 {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
#n-50 p {
  color: black;
}
#n-50 div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#n-48 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2rem 0rem;
  margin: 0 auto;
}
#n-49 {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 1rem;
  padding: 1rem;
}
#n-49 p {
  color: black;
}
#icons {
  display: flex;
  gap: 2rem;
}
#list1 ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#list2 ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#list3 ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#list-area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
#list-area2 {
  display: flex;
  justify-content: space-between;
}
#icons i {
  font-size: 25px;
}
#group-2 {
  display: flex;
}
#container15 {
  background-image: linear-gradient(to right, #17b0d9 80%, #146c94);
  height: 50px;
}
#n-51 {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  max-width: 1150px;
  margin: 0 auto;
  gap: 15rem;
}
#middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#middle2 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#middle3 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#middle4 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#middle5 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#hiding-div {
  opacity: 0;
  width: 100%;
  height: 98%;
  border-radius: 20px;
  transition: 0.3s linear;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: all 1s ease 0;
}
#hiding-div2 {
  opacity: 0;
  width: 100%;
  height: 98%;
  border-radius: 20px;
  z-index: 1;
  transition: 0.3s linear;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: all 1s ease 0;
}
#hiding-div3 {
  opacity: 0;
  width: 100%;
  height: 96%;
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s linear;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: all 1s ease 0;
}
#hiding-div4 {
  opacity: 0;
  width: 100%;
  height: 97%;
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s linear;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: all 1s ease 0;
}
#hiding-div5 {
  opacity: 0;
  width: 100%;
  height: 96%;
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s linear;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: all 1s ease 0;
}
#video:hover #middle {
  opacity: 1;
}
#video:hover #hiding-div {
  opacity: 0.2;
}
#video2:hover #middle2 {
  opacity: 1;
}
#video2:hover #hiding-div2 {
  opacity: 0.2;
}
#video3:hover #middle3 {
  opacity: 1;
}
#video3:hover #hiding-div3 {
  opacity: 0.2;
}
#video4:hover #middle4 {
  opacity: 1;
}
#video4:hover #hiding-div4 {
  opacity: 0.2;
}
#video5:hover #middle5 {
  opacity: 1;
}
#video5:hover #hiding-div5 {
  opacity: 0.2;
}
a {
  text-decoration: none;
}
#baslık-3::after{
  content: url("./images/Line\ 2.png");
  display: flex;
  flex-direction: column;
  margin-top: -16px;
}
#p{
  padding-left: 2rem;
}
@media (min-width:1250px) {
  .img-14{
    height: 241px;
  }
}
@media (min-width:1600px) {
  #area{
    top: 25%;
  }
}
@media (max-width:1500px){
   #area{
    top: 40%;
   }
}
@media (max-width: 1350px) {
  #img-9 {
    width: 200px;
  }
  #left-arrow,
  #right-arrow {
    width: 25px;
  }
  #n-48{
    width: 95%;
  }
}
@media (max-width: 1250px) {
  #box-area-3 {
    flex-direction: column;
    align-items: center;
  }
  #box-area-4 {
    gap: 1rem;
  }
  #img-10 {
    width: 727px;
  }
  #galery {
    width: 1100px;
    margin: 0 auto;
  }
  #img-12 {
    width: 350px;
  }
  .img-13 {
    width: 350px;
    height: 151px;
  }
  #block-1 {
    justify-content: space-between;
  }
  #block-2 {
    justify-content: space-between;
  }
  #box-2 {
    width: 600px;
  }
  #hiding-div3,
  #hiding-div4,
  #hiding-div5 {
    border-radius: 10px;
  }
  #hiding-div {
    height: 98%;
  }
  #hiding-div2 {
    height: 97%;
  }
}
@media (max-width: 1150px) {
  #square1 img,#square2 img,#square3 img,#square4 img{
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 1125px) {
  #n-46 {
    flex-direction: column;
  }
  #haber-area {
    flex-direction: row;
    justify-content: center;
  }
  #haber {
    align-self: center;
  }
  #img-10 {
    width: 600px;
  }
  #img-12 {
    width: 295px;
  }
  .img-13 {
    height: 127px;
  }
  #galery {
    width: 915px;
  }
  #hiding-div {
    height: 96%;
    border-radius: 10px;
  }
  #hiding-div4 {
    height: 96%;
  }
    #kuruluslar p {
    padding: 10px 30px;
  }
}
@media (max-width: 1050px) {
  #img-8 {
    width: 400px;
  }
  #box-3 {
    width: 400px;
  }

  #n-48 {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
@media (max-width: 990px) {
  #container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  #area {
    left: 100px;
    top: 25%;
  }
  #menu {
    flex-direction: column;
  }
  #navbar{
    font-size: 14px;
  }
  #navbar ul {
    top: 120px;
  }
  #container3 {
    flex-direction: column;
  }
  #c3{
    flex-direction: column;
  }
  #boxes-1 {
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0rem;
  }
  #boxes-2 {
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0rem;
  }
  #img-1 {
    height: 400px;
  }
  #container2 {
    height: 400px;
  }
  #area2{
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
  }
  #text{
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }
  #img-div{
    order: -1;
    background-color: #146c94;
    width: 318px;
    height: 478px;
    border-bottom-left-radius: 43%;
    border-bottom-right-radius: 43%;
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  #img-div img{
    object-fit: cover;
    margin: 0 auto;
    width: 313px;
    height: 476px;
    border-bottom-left-radius: 43%;
    border-bottom-right-radius: 43%;
  }
  #img-2{
    margin-bottom: 0px;
    }
}
@media (max-width: 950px) {
  #square1 img,#square2 img,#square3 img,#square4 img{
    width: 150px;
    height: 150px;
  }
  #container7 {
    gap: 1rem;
  }
  #img-10 {
    width: 400px;
  }
  #play {
    padding: 1rem;
  }
  #img-12 {
    width: 200px;
  }
  .img-13 {
    height: 86px;
  }
  .middle {
    width: 5px;
    height: 5px;
    padding: 1.5rem;
  }
  #galery {
    width: 625px;
  }

  #hiding-div {
    height: 94%;
  }
  #hiding-div4 {
    height: 94%;
  }
  #kuruluslar p {
    padding: 10px 15px;
  }
}
@media (max-width: 850px) {
  #img-8 {
    width: 300px;
  }
  #box-3 {
    width: 300px;
  }
  #down-box {
    gap: 1rem;
  }
  #n-51 {
    width: 100%;
  }
}
@media (max-width: 800px){
  #kuruluslar {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 730px) {
  #arrow {
    display: none;
  }
  #c6{
    flex-direction: column;
  }
  #area6 {
    padding: 1rem;
  }
  #img-9 {
    width: 150px;
  }
  #navbar {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }
  #area {
    top: 25%;
  }
  #container4 {
    flex-direction: column;
  }
  #box-area-1 {
    width: 100%;
  }
  #box-area-2 {
    width: 100%;
  }
  #img-3 {
    width: 400px;
  }

  #baslık {
    font-size: 18px;
  }
  #n-44 {
    width: 200px;
  }
  #area2 {
    flex-direction: column;
  }
  #text {
    align-items: center;
    text-align: center;
    width: 80%;
  }
  #text p{
    width: 80%;
  }
  #img-div {
    order: -1;
  }
  #area3 {
    width: 500px;
    font-size: 18px;
    line-height: 20px;
  }
  #area3 img {
    width: 25px;
  }
}
@media (max-width: 700px) {
  #container7 {
    flex-direction: column;
    align-items: center;
  }
  #square1 img, #square2 img, #square3 img, #square4 img{
    width: 250px;
    height: 250px;
  }
  #box-1 {
    width: 500px;
  }
  #img-6 {
    width: 500px;
  }
  #box-2 {
    width: 500px;
  }
}
@media (max-width: 640px) {
  #block-1 {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  #img-10 {
    width: 500px;
  }
  #block-2 {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  #img-12 {
    width: 500px;
  }
  #galery {
    width: fit-content;
  }
  .img-13 {
    height: 216px;
  }
  #hiding-div {
    height: 96%;
  }
  #hiding-div2 {
    height: 98%;
  }
  #hiding-div3 {
    height: 98%;
  }
  #hiding-div4 {
    height: 98%;
  }
  #hiding-div5 {
    height: 98%;
  }
}
@media (max-width: 630px) {
  #haber-area {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  #img-9 {
    display: none;
  }
  #left-arrow,
  #right-arrow {
    display: none;
  }
  #area6 p {
    width: 250px;
  }
  #img-4 {
    width: 400px;
  }
  #n-46 {
    gap: 1rem;
  }
}
@media (max-width: 600px) {
  #area h1 {
    font-size: 30px;
  }
  #area {
    left: 50px;
    width: 300px;
  }
  #down {
    width: 50px;
    height: 25px;
  }
  #down-1 {
    margin-top: -29px;
    display: none;
  }
  #img-2 {
    order: -1;
  }
  #boxes-1 {
    flex-wrap: wrap;
  }
  #boxes-2 {
    flex-wrap: wrap;
  }
  #img-2 {
    width: 100%;
    padding: 0px;
  }
  #img-1 {
    height: 300px;
  }
  #container2 {
    height: 300px;
  }
}
@media (max-width: 550px) {
  #area3 {
    padding: 2rem;
    flex-direction: column;
  }
  #box-1 {
    width: 400px;
  }
  #img-6 {
    width: 400px;
  }
  #area4 h3 {
    font-size: 20px;
  }
  #img-7 {
    width: 200px;
    height: 150px;
  }
  #box-2 {
    width: 400px;
  }
  #area5 h3 {
    font-size: 15px;
  }
  #area4 {
    width: 300px;
  }
  #img-10 {
    width: 400px;
  }
  #img-12 {
    width: 400px;
  }
  .img-13 {
    height: 174px;
  }
  #hiding-div4 {
    height: 97%;
  }
  #play {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  #n-51 {
    flex-direction: column;
    gap: 0.5rem;
  }
  #container15{
    padding: 1rem;
  }
  #p{
    padding: 0rem;
  }
  
  #n-50 {
    padding: 0px;
  }
  #n-49 {
    padding: 0px;
  }
}
@media (max-width: 425px) {
  #img-3 {
    width: 300px;
    align-self: center;
  }
  #img-4 {
    width: 300px;
  }
  #devam {
    width: 113px;
    justify-content: end;
  }
  #n-43 {
    width: 268px;
    align-self: center;
    padding: 1rem 1rem;
  }
  #baslık {
    font-size: 15px;
  }
  #box-1 {
    width: 300px;
  }
  #img-6 {
    width: 300px;
  }
  #area4 p {
    width: 220px;
  }
  #box-2 {
    width: 300px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #img-7 {
    border-radius: 20px;
    display: flex;
    align-self: center;
  }
  .buton {
    align-self: center;
  }
  #area4 {
    width: 260px;
    align-items: center;
    text-align: center;
  }
  #img-10 {
    width: 300px;
  }
  #img-12 {
    width: 300px;
  }
  #n-46 {
    gap: 1rem;
  }
  .img-13 {
    height: 130px;
  }
  #hiding-div3 {
    height: 97%;
  }
}
@media (max-width: 400px) {
  #area h1 {
    font-size: 20px;
  }
  #area p {
    font-size: 13px;
  }
  #area {
    width: 200px;
    top: 15%;
  }
  #buton {
    padding: 5px 15px;
  }
  #box-area-1 {
    flex-direction: column;
    align-items: center;
  }
  #box-area-2 {
    flex-direction: column;
    align-items: center;
  }
  #img-div {
    width: 293px;
    height: 422px;
  }
  #img-div img {
    width: 337px;
    height: 422px;
  }
  #text {
    width: 270px;
  }
  #text h1 {
    font-size: 20px;
  }
  #img-1 {
    height: 200px;
  }
  #container2 {
    height: 200px;
  }
}
